* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  position: relative;
}

.chat {
  height: 700px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
}

#downButton {
  cursor: pointer;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  bottom: 80px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  gap: 10px;
}

.form textarea {
  flex-basis: 80%;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  font-family: inherit;
}

.form button {
  cursor: pointer;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.message {
  margin-bottom: 10px;
}

.message .uname {
  font-weight: bold;
}
